html {
	background-color: #d6d1d4;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	background-size: 3px;
	font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.wrapper {
	/* width: 800px;
	height: 200px; */
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px;
	justify-content: center;
	align-items: center;
}

.dept-one {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
}

.dept-one > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
}

.dept-two {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
}

.dept-two > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
}

.dept-month {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
	/* width: 600px; */
}
.dept-month-second {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
	/* width: 600px; */
}

.dept-month > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
	justify-content: space-around;
	margin-left: 55px;
	margin-right: 62.5px;
}

.dept-month-second > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
	justify-content: space-around;
	margin-left: 71px;
	margin-right: 69px;
}

.wrapper-second {
	/* width: 800px;
	height: 200px; */
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 20px;
	justify-content: center;
	align-items: center;
}

.dept-one-second {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
}

.dept-one-second > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
}

.dept-two-second {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(99, 133, 168);
}

.dept-two-second > div {
	background-color: #f1f1f1;
	margin: 10px;
	text-align: center;
	line-height: 15px;
	font-size: 16px;
}

.res {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.res > div {
	margin: 10px;
}
