html {
	background-color: #d6d1d4;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	background-size: 3px;
	font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.colors {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-top: 50px;
	border-color: bisque;
	border: 1px coral solid;
	border-radius: 50%;
}

.white {
	background-color: white;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}

.header {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 20px;
	margin: 50px;
	text-transform: capitalize;
}
